.sectionInput {
    width: 65%;
    margin: 0 auto;
        margin-top: 3rem;
}

.input {
    width: 40%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    border: 2px solid #666;
    border-radius: 8px;
    outline: none;
    background: rgba(60, 63, 81, 0.9);
    color: #ffffff;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    backdrop-filter: blur(8px);
}

.input:focus {
    border-color: #55a9ce;
    background: rgba(91, 95, 114, 0.9);
}

.input::placeholder {
    color: #d1d1d1;
    opacity: 0.8;
}

.input:hover {
    background: rgba(60, 63, 81, 0.95);
}

.customTaskList {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    border: 1px solid #4A4A4A;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(44, 47, 63, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #666;
    padding: 1rem 0;
    color: #ffffff;
    transition: border-color 0.3s ease;
}

.headerRow:hover {
    border-bottom: 2px solid #55a9ce;
}

.column {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}