.row {
    display: flex;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.column {
    flex: 1;
    padding: 0.5rem;
    word-break: break-word;
    text-align: center;
}

.toDo {
    background-color: #ff6868;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.doing {
    background-color: #ffbe5e;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.done {
    background-color: #a2d961;
    padding: 1rem 1rem;
    border-radius: 5px;
}